body {
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  border: 1px solid #ddd;
  margin: 0 auto;
  margin: 20px;
  color: #24292e;
  overflow: auto;
}

@media (max-width: 767px) {
  main {
    margin: 0px;
    border: 0px;
  }
}

.gutter {
  padding: 15px;
  background-color: #f6f8fa;
  text-align: right;
}

pre {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.text {
  padding: 15px 0;
  min-width: 50vw;
}

.text pre {
  overflow: auto;
  padding: 0 15px;
  background-origin: content-box;
  background-image: repeating-linear-gradient(
    0deg,
    rgba(240, 240, 240, 0.4),  /* Light gray with transparency */
    rgba(240, 240, 240, 0.4) 1.5em,  /* Adjust based on line height */
    transparent 1.5em,
    transparent 3.0em  /* Double the thickness between stripes */
  );
}
