.code-body {
  color: #24292e;
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 45px;
}

.code-body strong {
  font-weight: 600;
}

@media (max-width: 767px) {
  .code-body {
    padding: 15px;
  }
}

.code-body td,
.code-body th {
  padding: 0;
}

.code-body td.linenos {
  color: #6e7781;
  text-align: right;
}

.code-body td.code {
  width: 100%;
}

.code-body td.code pre {
  padding-left: 10px;
}

.code-body table {
  border-spacing: 0;
  border-collapse: collapse;
  margin: 0;
}

.code-body pre {
  margin: 0;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  word-wrap: normal;
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f6f8fa;
  border-radius: 3px;
}
