<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock title %}</title>
    <meta name="author" content="Sergio Benitez" />
    <meta name="description" content="a simple, no-frills, command-line driven
      pastebin service powered by the Rocket web framework. This is a web form
      for creating a new paste." />
    <link href="{{ config.server_url }}/new" rel="canonical" />
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    {% block head %}{% endblock head %}
  </head>
  <body>
    {% block body %}{% endblock body %}
  </body>
</html>
