{% extends 'base' %}
{% block title %}Source Code | {{ id }} | Rocket Powered Pastebin{% endblock title %}
{% block head %}
<link rel="stylesheet" href="/normalize.min.css">
<link rel="stylesheet" href="/code.min.css">
{% include 'csp' %}
{% endblock head %}
{% block body %}
<main>
  <div class="code gutter">
    <pre>
      {%- for l in range(start=1,end=lines) -%}
      <span>{{ l }}&#10;</span>
      {%- endfor -%}
    </pre>
  </div>
  <div class="code text">
      {{ content | safe }}
  </div>
</main>
{% endblock body %}
