{% extends 'base' %}
{% block title %}Markdown | {{ id }} | Rocket Powered Pastebin{% endblock title %}
{% block head %}
{% include 'csp' %}
<link rel="stylesheet" href="/markdown.min.css">
<link href="{{ config.server_url }}/{{ id }}" rel="canonical" />
{% endblock head %}
{% block body %}
<article class="markdown-body">{{ content | safe }}</article>
{% endblock body %}
